* {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  .selector_box{
    float:left;
    margin-right: 20pxt;
    text-align: center;
  }
  
  /* Page tabs  */
  /* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
   
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
/* Page tabs end */
.HeaderCenter {
  text-align: center;
  text-decoration: underline;
}
  #myInput {
  
    font-size: 16px;
    padding: 12px 20px 12px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    margin-right: 5rem;
    
  }
  #item_rarity_filter, #item_attunement_filter {
    
    font-size: 16px;
    padding: 12px 20px 12px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-bottom: 5rem;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
 
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
/* Info Boxes for the items */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}

/* css for Spellslot Tracker tab*/
.container {
  margin: 10px;
  background-color: transparent;
  text-align: center;
}

.monster-box {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  min-width: 400px;
  max-width: 400px;
  background-image: url("assets/Background.jpg");
    background-position: center center; 
    border-width: 5px;
    border-image: url("assets/border.png");
    border-image-slice: 20
  
}

.checkbox-container {
  margin-top: 10px;
}

.checkbox-container label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
  
}

.spell-slot {
  width: 30px;
  height: 30px;
  
  display: inline-block;
  margin: 5px;
  
}
.spell-slot-level {
  align-items: center;
}
.spell-slots {
  text-align: center;
  min-height: 43.5px;
}
.hidden {
  display: none;
}
.monster_input_spell_amount {
  width: 35px;
}